@page "/mbsr/weeks5and6"
@layout SecondaryLayout

@inject IJSRuntime JS
@implements IDisposable

@using BlazorApp.Shared

<PageTitle>MSBR Weeks 5 and 6</PageTitle>

<!-- ======= WhatIsMindfulness Section ======= -->
<section id="msbr-title" class="about " data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0" style="background-color:white; padding-top:130px">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="mbsr">MSBR</a></li>
                <li class="breadcrumb-item active" aria-current="page">Weeks 5 and 6</li>
            </ol>
        </nav>

        <div class="section-title">
            <h2>The MBSR</h2>
        </div>
        <div class="row content">
            <div class="col-lg-12">
                <h3>Weeks 5 and 6</h3>


                Coping with Stress: Using Mindfulness to Respond instead of React
                Week 5 is a 2.5 hour session and will include:

                Participation in a combination of the three major formal mindfulness practices that have also been practised at home during the preceding weeks:
                The body scan.
                Mindful hatha yoga.
                Sitting meditation.
                This session marks the halfway point in the course, it emphasises:
                The capacity of participants to adapt more rapidly and effectively to everyday challenges and stressors.
                Consideration of responding (vs. reacting) to stressors and the value and utility of mindfulness in learning to stop, step back and see more clearly/objectively and to then be in a better position to make informed choices (responding) in meeting various situations.
                The use of mindfulness as a way to recover more rapidly from stressful encounters when they occur.
                Strategies will continue to be developed with emphasis on the growing capacity to attend more precisely to a variety of physical and mental perceptions, and to use this awareness as a way of deliberately interrupting and intervening in previously conditioned, habitual behaviours and choosing more effective mindfulness-mediated stress responses.
                Daily mindfulness practice is assigned, with an emphasis on the observation and application of mindful awareness in daily life.
                Stressful Communication and Interpersonal Mindfulness
                Week 6 is a 2.5 hour session and will include:

                An emphasis on the growing capacity to self-regulate and cope more effectively with stress.
                Discussion about the continued development of "transformational coping strategies"; awareness, attitudes and behaviours that enhance the psychological characteristics known as resilience. Theory is linked directly to the MBSR methods and skills being practised and grounded in the actual life experiences of the participants.
                The emphasis continues to be on the broadening of participants’ inner resources for developing health enhancing attitudes and behaviours and the practical application of such competencies into participants’ lives.
                Daily mindfulness practices continue to be assigned for home practice with an emphasis on the observation, and application of skills in everyday life.
                Participants engage in an in-depth exploration of stress as it presents within the domain of communications; particularly, difficult and challenging interpersonal exchanges. The focus of this strategy-building session revolves around the application of previously learned mindfulness/MBSR skills and methods in the area of communications. A variety of communication styles are examined both didactically and experientially, and strategies for more effective and creative interpersonal communication are developed.
                

            </div>
        </div>
    </div>
</section><!-- End About Us Section -->
@code {

    private IJSObjectReference? _jsModule;


   

    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/main.js");

        if (_jsModule != null)
        {
            AttachScrollListener();
        }
    }

    async Task GoToTop()
    {
        await _jsModule.InvokeVoidAsync("ScrollToTop");
    }

    async Task AttachScrollListener()
    {
        //selfReference = DotNetObjectReference.Create(this);
        var minInterval = 500; // Only notify every 500 ms
        await _jsModule.InvokeVoidAsync("onContentPageScroll", minInterval);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }

    public void Dispose()
    {

    }

    private async Task OnShowModalClick()
    {
        //await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        //await modal?.HideAsync();
    }
}