@page "/mbsr/weeks3and4"
@layout SecondaryLayout

@inject IJSRuntime JS
@implements IDisposable

@using BlazorApp.Shared

<PageTitle>MSBR Weeks 3 and 4</PageTitle>

<!-- ======= Weeks3and4 Section ======= -->
<section id="msbr-title" class="about " data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0" style="background-color:white; padding-top:130px">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="mbsr#weeks3and4">MSBR Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">Weeks 3 and 4</li>
            </ol>
        </nav>

        <div class="section-title">
            <h1>The MBSR <strong>Weeks 3 and 4</strong></h1>
        </div>

        <div class="card text-bg-primary mb-3" style="">
            <div class="card-header">
                <h3>3.Movement</h3>
                <h4><i>Mindfulness of the Breath and the Body in Movement</i></h4>
                Week 3 is a 2.5 hour session in which we investigate several distinct yet interrelated formal mindfulness practices:
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>Mindful hatha yoga (ending with a brief body scan).</li>
                        <li>Sitting meditation.</li>
                        <li>Walking meditation.</li>
                    </ul>
                    This extended formal practice period is followed by inquiry into and exploration of participants’ experiences with in-class and assigned home practices. Typical topics include challenges and insights encountered in formal practice and in integrating mindfulness into everyday life.
                </p>
            </div>
        </div>

        <div class="card text-bg-primary mb-3" style="">
            <div class="card-header">
                <h3>4.Stress (i)</h3>
                <h4><i>Learning about our Patterns of Reactivity to Stress</i></h4>
                Week 4 is a 2.5 hour session of participant engagement in a combination of the three major formal mindfulness practices that they have also been practising at home during the preceding three weeks. These include:
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>Mindful hatha yoga.</li>
                        <li>Sitting meditation.</li>
                        <li>Walking meditation.</li>
                    </ul>
                    In this class, a brief guided body scan will be completed before the start of the sitting practice. Instruction will emphasise the development of concentration, embodiment, the capacity to train and re-direct attention, and the systematic expansion of the field of awareness.The group will explore mindfulness as a means of recognising and reducing the negative effects of automatic, habitual stress reactivity.
                </p>
            </div>
        </div>
       
       
    </div>
</section><!-- Weeks3and4 Section -->

@code {

    public void Dispose()
    {

    }
}