@page "/"
@page "/home"

@inject IJSRuntime JS
@inject NavigationManager Navigation;

@implements IDisposable

@using BlazorApp.Shared

<PageTitle>Index</PageTitle>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>Become gently aware of this, the present moment...</h1>
                <h2>
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
                </h2>

            </div>
        </div>
    </div>
</section><!-- End Hero -->

<!-- ======= WhatIsMindfulness Section ======= -->
<section id="whatismindfulness" class="about scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0" style="background-color:white">
    <a name="whatismindfulness2" id="whatismindfulness2"></a>
    <div class="container">

        <div class="section-title">
          <h2>What is Mindfulness?</h2>
        </div>

        <div class="row content">

            <p>
                <strong>‘Mindfulness is the awareness that emerges through paying attention on purpose, in the present moment, and non-judgementally, to things as they are.’

                    Williams, Teasdale, Segal, and Kabat-Zinn 2007
                </strong>
            </p>

           

          @*   @if (showModal)
            {
                <div class="modal  fade show" tabindex="-1" role="dialog" style="display: block;">
                    <div class="modal-dialog modal-fullscreen" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">An Introduction To Mindfulness</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(() => { showModal = false; })">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               <p>Modal body text goes here.</p>
                                <iframe style="    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;" src="https://www.youtube.com/embed/NbizmVKHdgs?si=a9HSH_Qm-sr1UNqL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />*@
          


        

          <div class="col-lg-12">
            <p>
              We have all experienced mindfulness; for example, when we are focused on something we enjoy such as sewing, playing a sport we love or a walk on a beautiful summer day. It is when time seems to have no meaning and you are fully and completely engaged in the present moment. These conditions make us feel fully alive and whole, but at times of difficulty and external pressures we fail to find this more helpful state of mind. Instead, many of us harm ourselves by the way we think about the challenges we face. We spend time and energy worrying about what might happen in the future or ruminating over things that have happened in the past.
            </p>
          @*   <p>
                   
                    <Button class="play-btn mb-4 btn-learn-more" @onclick="@(() => { showModal = true; })">Learn More</Button>
            </p> *@

                <p>
                    <iframe style="position: relative;right: 0;bottom: 0;
    max-width:500px;width:95vw;aspect-ratio:3/2" src="https://www.youtube.com/embed/NbizmVKHdgs?si=a9HSH_Qm-sr1UNqL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>

            <p>
                    The MBSR course offers a solution by gently encouraging us to live more often in the present moment. Mindfulness practice does not invalidate our worries or concerns, but rather it allows us to take a break from them.
            </p>

            <p>
                    During the MBSR course we will also consider how to explore our difficulties as they emerge in the present moment, accept them and begin to think about how we might deal with them differently.
            </p>
                

@*            <ul>
              <li><i class="ri-check-double-line"></i> List 1</li>
            </ul>
*@
            </div>

     

        </div>
         
          
        </div>
    </section><!-- End About Us Section -->

<!-- ======= Faq Section ======= -->
<section id="faq" class="faq text-light">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                    <h3>Frequently Asked <strong>Questions</strong></h3>
                    <p class="text-light">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                </div>

                <div class="accordion-list text-dark">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Is Mindfulness just a fad? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    It is doubtful that mindfulness will disappear anytime soon. Mindfulness has been mocked, for example, in adult Ladybird books, but it has a large evidence base.

                                    In the late 1990s, there was an increase in research into the effectiveness of MBSR courses. It has been shown to alleviate distress in those experiencing depression and anxiety. Participants in MBSR courses reported being better able to cope with and manage stress. (Biegel et al 2009; Beal et al 2012).
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Is Mindfulness Buddhism?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Mindfulness has its foundations in Buddhism, but the MBSR is a western secular course. It simply teaches meditation designed to allow us to become more aware of ourselves as human beings. It does not teach Buddhism and people from all faiths and cultures are welcome.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">What will an MBSR course do for me?<i class="bi bi-chevron-down icon-show"></i><i class="bi-chevron-up bi icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    The MBSR course should not be used as a substitute for medical care because it is not intended to treat or replace therapy or medical care. It seeks to be preventative and may be therapeutic for those who experience stress, common aches and pains, migraines, and other illnesses. Participants on MBSR courses have reported feeling more alive, and more "in-tune" with themselves and others.
                                </p>
                                <p>Through this MBSR course, you will learn skills that may increase your ability to:</p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Cope with stress, pain, and the challenges of everyday life</li>
                                    <li><i class="ri-check-double-line"></i> Deal with difficult events with grace and composure</li>
                                    <li><i class="ri-check-double-line"></i> Be fully present and alive in this moment</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Can I practise at home?<i class="bi bi-chevron-down icon-show"></i><i class="bi-chevron-up bi icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Mindfulness is like any other learning experience; unless it is practised on a regular basis it is unlikely to be beneficial. Home practice will be provided, but can be adapted to suit each person’s individual’s lifestyle. The homework is designed to be enjoyable.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            @* <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("img/faq2.webp");'>&nbsp;</div> *@
        </div>

    </div>
</section><!-- End Faq Section -->

<!-- ======= About Jean Section ======= -->
<section id="aboutjean" class="about scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0" style="background-color:white">
    <div class="container">

        <div class="section-title">
            <h2>Dr Jean Carnochan : Personal Introduction</h2>          
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p>
                    My training is in educational psychology. I hold a teaching qualification from the University of Manchester, as well as a master's degree in educational psychology and a doctorate in educational psychology from the University of Bristol. My psychological training and personal experience have provided a natural path to investigate concepts of mindfulness, as well as an interest in how to most effectively convey it to children and adults, thereby offering people of all ages a different, and potentially more balanced and clear way to think and feel about their daily experiences. I am particularly keen to encourage involvement from members of society who do not typically attend mindfulness classes but would benefit from the experience.
                </p>
                <p>
                    I had been using meditation as a form of stress reduction since the 1980s, but I did not fully understand the true purpose of meditation until I began my current career as an educational psychologist when a colleague delivered an introductory session on mindfulness. The penny dropped! The purpose is not to relax, although this is a very positive by-product, but rather to pay attention, to become awake and aware, to engage with our world differently; with gentle and detailed exploration. Our exploration can be extended to create awareness not simply of ourselves, and our environment, but also of others. A deeper understanding of ourselves and each other can only lead to better communication, less misunderstanding and more gentle dialogue. This can only be positive in a world which sometimes feels like it is full of negative rhetoric.
                </p>
              <p>
                    I took the Mindfulness Based Stress Reduction (MBSR) course for eight weeks between February and March of 2015. I will be eternally grateful to Katie Norton, my tutor, who set an excellent example of how to approach and run the course. I began training to teach the.b Mindfulness course to secondary school students. Prior to delivering the.b Mindfulness course to students, I had to experience and deliver it. This has been a fascinating project, and I enjoy teaching mindfulness to young people, even if they do not continue to practise it after the 10-week programme.They now have a piece of potential personal support to 'hook into' later in life if they wish.
              </p>
              <p>
                    Since November 2018 I have been working towards a mindfulness teaching qualification with the University of Bangor. In November 2018, I attended the 7 day teacher training retreat delivered by two amazing tutors (Trish Bartley and Bethan Roberts) from Bangor University’s Centre for Mindfulness Research and Practice. I am therefore qualified to deliver the Eight Week MBSR course to adults.
              </p>
              <p>
                    If you have any questions about my background and/or qualifications please do not hesitate to contact me.
              </p>
              <p>
                    I look forward to experiencing mindfulness with you.
              </p>
              <p>
                    Jean Carnochan
              </p>
              <p>
                    3rd April 2023
              </p>
            </div>
           
        </div>
       
    </div>

   

</section><!-- End About Jean Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="text-center title">
            <h3>Our story so far...</h3>
            @*<p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>*@
        </div>

        <div class="row counters position-relative">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter">12</span>
                <p>Clients</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter">2</span>
                <p>Courses</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter">9</span>
                <p>Workshops</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter">10</span>
                <p>Years of Experience</p>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->

<a id="back-to-top" @onclick="GoToTop" class="btn btn-light btn-lg back-to-top" role="button"><i class="bi bi-chevron-up"></i></a>


@code {

    //ElementReference hero;

    //DotNetObjectReference<Index> selfReference;


    private IJSObjectReference? _jsModule;

    //private Modal modal;

    bool showModal = false;
    private bool scrolledToWhatIs = false; //todo: must be a better way?!
    private bool scrolledAboutJean = false; //todo: must be a better way?!
    
    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        Navigation.LocationChanged -= OnLocationChanged;
        Navigation.LocationChanged += OnLocationChanged;
        
              
        _jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/helper.js");

        if (_jsModule!=null)
        {
            AttachScrollListener();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        // if (firstRender)
        // {
        //     // Do work to load page data and set properties
        //     //Navigation.LocationChanged -= OnLocationChanged;

        //         Navigation.LocationChanged += OnLocationChanged;

        // }
    }

    async Task GoToTop()
    {
        await _jsModule.InvokeVoidAsync("ScrollToTop");
    }

    async Task AttachScrollListener()
    {
        //selfReference = DotNetObjectReference.Create(this);
        var minInterval = 500; // Only notify every 500 ms
        await _jsModule.InvokeVoidAsync("onDivScroll2", minInterval);
    }



    private async void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {       
        //await _jsModule.InvokeVoidAsync("showAlert", e.Location);

        if (e.Location.Contains("whatismindfulness")){
          
            if (!scrolledToWhatIs)
            {
                // await _jsModule.InvokeVoidAsync("showAlert", "Scroll Now!");
                await _jsModule.InvokeVoidAsync("onLoadScrollToWhatIsMindfulness");
                scrolledToWhatIs = true;
            }
            
        }

        if (e.Location.Contains("aboutJean"))
        {

            if (!scrolledAboutJean)
            {
                // await _jsModule.InvokeVoidAsync("showAlert", "Scroll Now!");
                await _jsModule.InvokeVoidAsync("onLoadScrollToAboutJean");
                scrolledAboutJean = true;
            }

        }
        
    }

    public void Dispose()
    {
       // Navigation.LocationChanged -= OnLocationChanged;
    }

  
}