@page "/"

@inject IJSRuntime JS
@implements IDisposable

<PageTitle>Index</PageTitle>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>Become gently aware of this, the present moment...</h1>
                <h2>
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
                </h2>

            </div>
        </div>
    </div>
</section><!-- End Hero -->

<!-- ======= About Us Section ======= -->
<section id="whatismindfulness" class="about scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
      <div class="container">

        <div class="section-title">
          <h2>What is Mindfulness?</h2>
          <p>‘Mindfulness is the awareness that emerges through paying attention on purpose, in the present moment, and non-judgementally, to things as they are.’

            Williams, Teasdale, Segal, and Kabat-Zinn 2007</p>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <p>
              We have all experienced mindfulness; for example, when we are focused on something we enjoy such as sewing, playing a sport we love or a walk on a beautiful summer day. It is when time seems to have no meaning and you are fully and completely engaged in the present moment. These conditions make us feel fully alive and whole, but at times of difficulty and external pressures we fail to find this more helpful state of mind. Instead, many of us harm ourselves by the way we think about the challenges we face. We spend time and energy worrying about what might happen in the future or ruminating over things that have happened in the past.
            </p>
            <p>
              <a href="https://youtu.be/NbizmVKHdgs" class="glightbox play-btn mb-4 btn-learn-more">Learn More</a>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>

        </div>
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              <a href="https://youtu.be/NbizmVKHdgs" class="glightbox play-btn mb-4 btn-learn-more">Learn More</a>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

    <a id="back-to-top" @onclick="GoToTop" class="btn btn-light btn-lg back-to-top" role="button"><i class="bi bi-chevron-up">grr</i></a>
       

    </section><!-- End About Us Section -->
<!-- ======= Faq Section ======= -->
<section id="faq" class="faq">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                    <h3>Frequently Asked <strong>Questions</strong></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Is Mindfulness just a fad? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    It is doubtful that mindfulness will disappear anytime soon. Mindfulness has been mocked, for example, in adult Ladybird books, but it has a large evidence base.

                                    In the late 1990s, there was an increase in research into the effectiveness of MBSR courses. It has been shown to alleviate distress in those experiencing depression and anxiety. Participants in MBSR courses reported being better able to cope with and manage stress. (Biegel et al 2009; Beal et al 2012).
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bi bi-chevron-down icon-show"></i><i class="bi-chevron-up bi icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("img/faq.jpg");'>&nbsp;</div>
        </div>

    </div>
</section><!-- End Faq Section -->


@code {

    //ElementReference hero;

    //DotNetObjectReference<Index> selfReference;


    private IJSObjectReference? _jsModule;


    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/helper.js");

        if (_jsModule!=null)
        {
            AttachScrollListener();
        }
    }

    async Task GoToTop()
    {
        await _jsModule.InvokeVoidAsync("ScrollToTop");
    }

    async Task AttachScrollListener()
    {
        //selfReference = DotNetObjectReference.Create(this);
        var minInterval = 500; // Only notify every 500 ms
        await _jsModule.InvokeVoidAsync("onDivScroll2", minInterval);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }

    public void Dispose()
    {
        
    }

}