@page "/mbsr"
@layout SecondaryLayout

@inject IJSRuntime JS
@implements IDisposable

<PageTitle>mbsr</PageTitle>



<!-- ======= WhatIsMindfulness Section ======= -->
<section id="msbr-title" class="about scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0" style="background-color:white; padding-top:130px">
      <div class="container">

        <div class="section-title">
            <h2>The MBSR</h2>
        </div>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    The MBSR course consists of 10 sessions and 31 hours of in-person training. I will be adhering to the 2017 MBSR Curriculum Guide, which is based on more than one million hours of delivery for more than 24,000 participants, many of whom were referred by more than 7,000 doctors, hundreds of other healthcare professionals, and through self-referral. My goal is to uphold the fidelity and integrity of MBSR as described in the 2017 Curriculum Guide from the Mindful Network in order to support the effectiveness, scientific validity, and academic rigour of this method.
                </p>
               
            </div>

        </div>
        </div>
    </section><!-- End About Us Section -->

<!-- ======= MBSR Section ======= -->
<section id="mbsr-curriculum" class="services" style="background-color:white;">
    <div class="container">

        <div class="section-title">
            <h2>Curriculum</h2>
            <p>The MBSR course consists of 10 sessions and 31 hours of in-person training. I will be adhering to the 2017 MBSR Curriculum Guide, which is based on more than one million hours of delivery for more than 24,000 participants, many of whom were referred by more than 7,000 doctors, hundreds of other healthcare professionals, and through self-referral. My goal is to uphold the fidelity and integrity of MBSR as described in the 2017 Curriculum Guide from the Mindful Network in order to support the effectiveness, scientific validity, and academic rigour of this method.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon">
                        <!-- <i class="bx bxl-dribbble"></i> -->
                        week 1
                    </div>
                    <h4><a data-bs-toggle="collapse" class="collapsed" data-bs-target="#accordion-list-1">The Orientation session <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a></h4>
                  @*  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>*@
                    <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                            The Orientation session is designed to:
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <ul>
                                <li>
                                    Familiarise potential participants with what MBSR is and what it is not.
                                </li>
                                                                <li>
                                    Familiarise potential participants with what MBSR is and what it is not.
                                </li>

                                <li>
                                    Familiarise potential participants with what MBSR is and what it is not.
                                </li>

                            </ul>
                            Familiarise potential participants with what MBSR is and what it is not.
                            Provide participants with an experience of mindfulness in an atmosphere of trust and non-judgmental awareness and exchange.
                            Discover if the MBSR is a good match for participants’ needs.
                            Elicit active participation in the programme, including a commitment to attend the sessions and engaging in formal and informal mindful practice at home.
                            The session will include:
                            A brief history of the MBSR course.
                            An introduction to Mindfulness.
                            Engagement in a brief mindful meditation practice.
                            Introductions to other members of the group, and sharing of experiences.
                            Sharing programme procedures, and an introduction to course logistics.
                            An individual interview with myself.
                            Answering any questions.
                        </p>
                    </div>    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Perception</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Mindfulness of the Breath and the Body in Movement</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Learning about our Patterns of Reactivity to Stress</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Coping with Stress: Using Mindfulness to Respond instead of React</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Stressful Communication and Interpersonal Mindfulness</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">One day silent retreat</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Life Style Choices: How can I best take care of myself?</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Keeping Your Mindfulness Alive</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->





<a id="back-to-top" @onclick="GoToTop" class="btn btn-light btn-lg back-to-top" role="button"><i class="bi bi-chevron-up">grr</i></a>


@code {

    //ElementReference hero;

    //DotNetObjectReference<Index> selfReference;


    private IJSObjectReference? _jsModule;

    private Modal modal;

    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/helper.js");

        if (_jsModule!=null)
        {
            AttachScrollListener();
        }
    }

    async Task GoToTop()
    {
        await _jsModule.InvokeVoidAsync("ScrollToTop");
    }

    async Task AttachScrollListener()
    {
        //selfReference = DotNetObjectReference.Create(this);
        var minInterval = 500; // Only notify every 500 ms
        await _jsModule.InvokeVoidAsync("onContentPageScroll", minInterval);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }

    public void Dispose()
    {
        
    }

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }
}