@page "/mbsr/week2"
@layout SecondaryLayout

@* <section id="week2-poem" class="mindfulness-bg-the-summer-day mbs-base-style-font"> *@
<section id="week2-poem" class="mindfulness-bg-the-summer-day">
    <span role="img" aria-label="summer garden with daisies and long grass"></span>
    <div class="container poem">
        <div class="row" id="row-poem">
            <div class="col-lg-8 mx-auto">
                <p>
                    <h2>
                        The Summer Day
                    </h2>
                </p>

                <p>
                    Who made the world?


                </p>

                <p>
                    Who made the swan, and the polar bear?


                </p>

                <p>
                    Who made the grasshopper?


                </p>

                <p>

                    This grasshopper, I mean, the one who has flung herself out of the grass,


                </p>

                <p>
                    the one who is eating sugar out of my hand,


                </p>

                <p>
                    who is moving her jaws back and forth instead of up and down,


                </p>

                <p>
                    who is grazing around with her enormous and complicated eyes.


                </p>

                <p>

                    Now she lifts her pale forearms and thoroughly washes her face.


                </p>

                <p>
                    Now she snaps her wings open, and floats away.


                </p>

                <p>
                    I don’t know exactly what a prayer is.


                </p>

                <p>
                    I do know how to pay attention,

                </p>

                <p>
                    how to fall down into the grass,


                </p>

                <p>
                    how to kneel in the grass,



                </p>

                <p>
                    how to be idle and blessed,



                </p>
                <p>
                    how to stroll through the fields,


                </p>

                <p>

                    which is what I have been doing all day.


                </p>

                <p>
                    Tell me, what else should I have done?


                </p>

                <p>
                    Doesn’t everything die at last, and too soon?


                </p>

                <p>
                    Tell me, what is it you plan to do with your one wild and precious life?


                </p>

                <p>

                    By Mary Oliver.
                </p>


            </div>
        </div>
    </div>
</section>

<section id="welcome" class="session-content">
    <div class="container">
        <img src="/img/week2/week-2-perceptual-challenge.jpg" class="img-fluid rounded mx-auto d-block" alt="Perceptual Challenge Image" />
    </div>
</section>

<section id="welcome" class="session-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 2 </h1>
                <br />
                <h2>Perception and Creative Responding</h2>

                <p>

                    <i>
                        'The present is the only time that any of us have to be alive; to know anything, to perceive, to learn, to act, to change, to heal.'
                    </i>
                </p>
                <p>
                    Jon Kabat Zinn, (1996).

                </p>
                <p>

                    How we see things (or don’t see them) will determine in large measure how we react or respond to them. During our daily lives we can experience many pressures and stresses. Stress reactivity is the capacity or tendency to respond to a stressor and depending upon how we react or respond is assumed to be connected to our physical and mental health and general well-being. However, it is not the stressors per se, but how we relate to them that influences the short and long term health effects.
                </p>
                <p>

                    Our aim is to be more aware more often. A powerful influence taking us away from being ‘fully present’ in each moment is our automatic tendency to judge our experience. We can find it not quite right in some way; not what should be happening, not good enough, not what we expected or wanted. These judgements can lead on to sequences of thoughts about blame, or what needs to be changed, or how things could or should be different. Often, these thoughts will take us, quite automatically, down some fairly well worn paths in our minds. In this way we lose awareness of the moment, and also lose the freedom to choose what, if any, action needs to be taken.
                </p>
                <p>

                    We can regain our freedom if, as a first step, we simply acknowledge the actuality of the situation we find ourselves in, without being immediately hooked into automatic tendencies to judge, fix or want things to be other than they are. The body scan exercise provides an opportunity to practise bringing an interested and friendly awareness to the way things are in each moment without having to do anything to change things. There is no goal to be achieved, other than to bring awareness to bear as the instructions suggest. Achieving something specific or some special state of relaxation is not the goal.
                </p>


                <h2> The Breath </h2>
                <p>
                    Breath is life. You could think of it as a thread or a chain that links and connects all the events of your life. The breath is constantly with us each and every moment. It moves though our bodies like waves gently lapping on a beach. Each and every breath is an individual and is not necessarily the same as the last. The breath is also a reflection of our mood, short and shallow implies we are angry, faster when we experience excitement, slow and full when we feel contentment and almost non-existent when we experience fear.
                </p>
                <p>
                    We spend very little time during our everyday life paying any attention to it, it is just there. In mindfulness it is helpful for the breath to be viewed as an anchor, to bring stability to the body and the mind simply by choosing to become aware and tune into it. As we do so we notice more about how it changes with mood, thought and body movement.
                </p>
                <p>
                    With practise, we become more aware of our breathing. We can use it to direct our awareness to different aspects of our lives. For example, to relax tense muscles, or focus on a situation that requires our attention. The breath can also be used to help deal with pain, anger, relationships or the stress of everyday life. We will be exploring this in detail over the next few weeks. The invitation

                    is not to control the breath, or make it deeper, but to get to know it like an old, forgotten friend. Observe, watch, and feel the breath with a sense of gentle interest and in a friendly, relaxed manner.
                </p>
                <p>
                    The formal practice for this week will include:
                    <ul>
                        <li>
                            Opening meditation
                        </li>
                        <li>
                            Sitting meditation with postural guidance
                        </li>
                        <li>
                            Standing Yoga
                        </li>
                        <li>
                            Body Scan
                        </li>
                    </ul>
                </p>

            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Simple Awareness </h2>
                <p>
                    In Week 1 we began to explore simple awareness, the idea that our thoughts and mind are somewhere else and we are working on automatic pilot.  A good example of this is often driving.  We often drive known and familiar routes to work or to a family member’s house. We can drive for miles along these routes without conscious awareness.  In the same way we may live much of our lives elsewhere and not in the present moment. Automatic pilot may be useful at times, but it can mean that we miss the detail of good experiences and even exaggerate the negative ones.  When we are on automatic pilot we may have an experience that triggers; thoughts, feelings and sensations that we automatically react to without full awareness.  These automatic reactions may be the same pathway we took in the past when we experienced a similar situation; previous paths taken may or may not be helpful.
                </p>
                <p>

                    By becoming more aware of our thoughts, feelings and body sensations in each moment, we give ourselves a new possibility of freedom and choice.  We do not have to go down the same well-trodden mental route or rut.  We can increase our awareness so that we can respond with choice rather than automatically reacting.  We do so by practicing awareness of where our attention is and practice changing the focus of our attention over and over again.
                </p>
                <p>

                    The body scan provides an opportunity to practice bringing an interested and gentle awareness to the way things are without any expectation of change. There is no goal other than to bring awareness to bear.
                </p>
                <p>


                </p>

                <h2>Focusing on the Breath  </h2>
                <p>
                    This week we will focus on the breath. Breath is life. If we weren’t breathing we would be dead! The breath is constantly with us each and every moment of our lives.  It moves though our bodies like waves gently lapping on a beach.  Each and every breath is an individual and is not necessarily the same as the last.  The breath is also a reflection of our mood, short and shallow implies we are angry, faster when we experience excitement, slow and full when we feel contentment and almost non-existent when we experience fear.
                    We spend very little time during our everyday life paying any attention to it, it is just there.   In mindfulness it is helpful for the breath to be viewed as an anchor, to bring stability to the body and the mind simply by choosing to become aware and tune into it.  As we do so we notice more about how it changes with mood, thought and body movement.
                    The invitation is not to control the breath, or make it deeper, but to get to know it like an old, forgotten friend.  Observe, watch, and feel the breath with a sense of gentle interest and in a friendly, relaxed manner.

                </p>

            </div>
        </div>
    </div>

</section>


<section id="week-2-home-practice" class="home-practice-bg session-content ">


    <div class="container ">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>
                    Home Practice Following Week 2
                </h2>

                <p>
                    1. Use the Body Scan recording again for 6 days. Record your reactions on the record form if you wish to.
                </p>
                <p>
                    2. At a different time, practise 10-15 minutes Mindfulness of Breathing for 6 days. Being with your breath in this way each day provides an opportunity to become aware of what it feels like to be connected and present in the moment without having to do anything.
                </p>
                <p>
                    3. Complete the PLEASANT EXPERIENCES DIARY (one entry per day).  Use this as an opportunity to become really aware of the thoughts, feelings, and body sensations that are around in one pleasant event each day.  Notice and record your experiences with a degree of detail as soon as you can.  For example, put the actual words or images that came in, and the precise nature and location of bodily sensations.
                </p>
                <p>
                    4. Choose a new ROUTINE ACTIVITY to be especially mindful of (brushing teeth, washing dishes, taking a shower, taking out the rubbish, reading to children, shopping, eating, driving etc.).

                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Body Scan Practice Guidelines</h2>

                <p>
                    ‘If your mind is not clouded by unnecessary things, this is the best season of your life.’
                </p>
                <p>
                    Wu-Men
                </p>
                <p>
                </p>
                <p>
                    1. Regardless of what happens (falling asleep, losing concentration, being distracted by thoughts, emotions or other physical sensations, not feeling anything), just do it!  These are your experiences in the moment. All you have to do is be aware of them, even if your mind is wandering a great deal.  If you are distracted by wandering thoughts, emotions or other physical sensations, simply notice them as passing events, and then gently return to the instruction.
                </p>
                <p>
                    2. Notice if you have any ideas about ‘successes’, ‘failure’, ‘doing it really well’ or ‘trying to purify the body’.   Meditation is not a competition.  It is not a skill that you have to strive to perfect.  The body scan provides an opportunity to practice bringing an interested and gentle awareness to the way things are without any expectation of change. There is no goal other than to bring awareness to bear.  The only discipline involved is regular and frequent practise.  See if it is possible to cultivate an attitude of openness and curiosity about whatever you happen to experience during the body scan.
                </p>
                <p>
                    3. Try approaching your experience in each moment with the attitude. ‘Okay, that is just the way my experience is right now.’  If you try to fight off unpleasant thoughts, feelings and body sensations, this may only distract you from experiencing anything else.
                </p>
                <p>
                    4. Notice if you have any expectations about what the body scan will do for you; instead you might imagine that you are planting a seed.  The more you poke around and interfere, the less it will be able to develop.  When you leave it to grow, this seed will eventually expand to become a life lived with more mindfulness, and the freedom to choose skilful behaviours.

                </p>
                <p>
                    5. In order to get the most out of the body scan you will need to give yourself the most helpful conditions; time that you set aside to devote to yourself and the body scan, privacy and quiet, and regular and frequent practise.  The more you try to control the effects of the body scan the less effective it will be.
                </p>
                <p>
                    6. Most importantly, just do it!
                </p>
                <p>

                </p>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Mindfulness of Breathing Practice Guidelines</h2>

                <p>
                    ‘Quiet friend who has come so far, feel how your breathing makes more space around you.’
                </p>
                <p>
                    Rainer Maria Rilke
                </p>
                <p>
                    1. Sit in a comfortable posture, with your spine erect; let your shoulders relax and drop.  Your chin should be slightly forward so that the crown of your head is the highest position. You can sit on a straight backed chair, but if you can, sit in a self-supporting position with your back slightly away from the back of the chair.  Keep your feet flat on the floor and legs uncrossed.  If you are sitting on a cushion on the floor cross legged ensure that your hips are higher than your knees and if possible have your knees touching the floor.  Experiment with the height of the cushion or cushions. If you are sitting on a meditation stool you may want to put extra padding under your knees.
                </p>
                <p>
                    2. Once you have ensured you are comfortable, if it feels okay for you, gently close your eyes.
                </p>
                <p>
                    3. Bring your awareness to the body sensations, by focusing your attention on the sensations of touch, contact and pressure in your body where it makes contact with the floor and whatever you are sitting on. Spend a few minutes exploring these sensations, just as in the body scan.  As best you can, consider the parts of the body that have contact with the chair, cushion or floor as providing you with a sense of grounding or anchoring.
                </p>
                <p>
                    4. Bring your attention to your belly, feeling it rise or expand gently on the in-breath and fall or recede on the out-breath. When you first try this practice, it may be helpful to place your hand on your lower abdomen and become aware of the changing pattern of sensations where your hand makes contact with your abdomen.  Having ‘tuned in’ to the physical sensations in this area , you can remove your hand.
                </p>
                <p>
                    5. Keep focus on your breathing, ‘being with’ each in-breath for its full duration and with each out- breath for its full duration, as if you were riding on the waves of your own breathing.  Perhaps notice the slight pauses between one in-breath and the following out-breath and between one out-breath and the following in-breath. Perhaps aware of the slight stretching as the abdominal wall rises with each in-breath and of gentle deflation as it falls with each out breath or of the journey from the nostrils to the belly.
                </p>
                <p>
                    6. Every time that you notice that your mind has wandered off the breath, softly note what it was that took you away and then gently escort your attention back to your belly and the feeling  of the breath coming in and out.
                </p>
                <p>
                    7. If your mind wanders from the breath a thousand times, then your ‘job’ is simply to bring it back to the breath every time, no matter what it becomes preoccupied with.  It is just as valuable to become aware that your mind has wandered and to bring it back to the breath as it is to remain aware of the breath. Acknowledge briefly where it has been (planning/ thinking / dreaming). Then without judgement or analysis bring your attention back to the breath and the sensations it is producing.
                </p>
                <p>
                    8. However often you notice the mind wandering, as best you can, congratulate yourself for having noticed the departure of your attention and view these wanderings as opportunities to bring patience and gentle curiosity to your experience.
                </p>
                <p>
                    9. There is no need to try to control the breathing in any way. Simply let the breath be itself. As best you can, bring an attitude of allowing to your experience.  There is nothing to be fixed, no particular state to be achieved. As best you can, allow your experience to be your experience, without needing it to be other than it is.
                </p>
                <p>
                    10. Continue with the practice for 10-15 minutes or longer if you wish.

                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Sitting Meditation</h2>

                <p>
                    Sitting is not a special activity; we do it all the time, however, the importance of this exercise is the attention and awareness we bring to it.  We first need to find time and a place within our home to sit.
                </p>
                <p>
                    Having found a spot we make a decision about how to sit; on a chair, or on a mat and a cushion, or on a bench. If you choose a chair, it ideally needs to be one with a straight back that allows your feet to be flat on the floor.  It is recommended that you do not sit with your back flush against the chair, but if possible, a little away from it so that your back is self-supported.  If you choose the floor, ensure that any cushions you use are firm and thick.  Ideally the cushion should raise your buttocks off the floor three to six inches (a pillow folded over once or twice works quite well).  It does not really matter if you choose a cross legged or a kneeling pose, so long as your knees are below your hips and there is not too much pressure on them.  What is most important is that your sitting position works for you.  Your chosen position will need to be comfortable enough to support the cultivation of an inner attitude of dignity, patience and self-acceptance. Once sitting we then choose where to put our hands; gently on our knees or in a resting position in the lap with the fingers of the left hand above the fingers of the right and the tips of the thumbs just touching each other.
                </p>
                <p>

                    When we sit we consciously adopt an alert and relaxed body posture.  We need to feel comfortable without moving.  An up-right and dignified posture is key with your head, neck and back in alignment. This should not be a ‘stiff’ posture; our shoulders need to be relaxed.  It is sometimes helpful to think of a string coming up through your spine and neck and out of the top of your head to the ceiling. Our posture aims to reflect the inner attitude of self-reliance, self-acceptance, and alert attention that we cultivate as part of our meditative practice.  This posture will also allow our breath to flow more easily.
                </p>
                <p>

                    When we have assumed the posture we have selected, we bring our attention to our breath. We feel our breath coming in, we feel it going out. We rest here in the present, moment by moment, breath by breath. We attend our awareness fully on the in-breath, and fully on the outbreath. Letting the breath happen, observing it, and feeling all the sensations.
                </p>
                <p>

                    You may find that at least part of you does not want to stay here with the breath. Your body and mind may begin to request something different, your body may complain or your mind may wish to focus on something else. This is perfectly normal.
                </p>
                <p>

                    It is at this point that the work of self-observation begins to become more fruitful. Normally we simply react to these impulses, if the body says, ‘I’m thirsty’, our mind reacts by making a decision about what to drink, if the mind says “This is boring,” the body is up and looking around for the next thing to do to keep the mind happy. If the body feels discomfort, it will shift to be more comfortable or it will call on the mind to find something else for it to do. Our mind and body seems to be in a constant state of seeking something else.  In mindfulness, we are not asking why this is.  Rather we just observe the impulse to get up or the thoughts that come into the mind.  Instead of acting on them we gently but firmly bring our attention back to the tummy and to the breath, and just continue to watch the breath, moment by moment. We may ponder why the mind is like this for a moment and observe where our mind goes, but basically we are practicing accepting each moment as it is without reacting or judging.
                </p>
                <p>

                    Through the practice of meditation we become less reactive and more stable. When you meditate you are making each moment matter. You are taking each moment as it comes, not valuing any one above any other. You are cultivating your natural ability to concentrate your mind. By repeatedly bringing your attention back to the breath each time it wanders off, concentration builds and deepens. Through meditation the mind is being worked on in the same way an athlete works on building their physical strength and flexibility.  Working regularly with and not struggling against the workings of your own mind builds inner strength. By not making judgements about yourself during this process, you will inevitably develop patience and become less judgmental. Do not beat yourself up each time your mind wanders away from the breath, simply congratulate yourself on having noticed this and matter-of-factly return it to the breath, gently but firmly.
                </p>
                <p>

                    We are not trying to stop our thoughts as they cascade through our mind, this is impossible. We are simply making room for them, observing them as thoughts, and letting them be, using the breath as our anchor for observing, for reminding us to stay focused and calm.

                </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>22 Ways to be Mindful all day, every day</h2>

                <p>
                    All too often, we think that being mindful requires engaging in a special activity like meditation.  Whilst our daily formal practice is really important, there are also lots of other simple things you can do to be mindful all day long.  Here are 22 of them. Think of them "Easy Habits" that are easy to do:
                </p>
                <p>
                    1. Stretch first thing in the morning. Doing some stretching and breathing when you wake up in the morning, this will energise you and centre you for the day ahead.
                </p>
                <p>
                    2. Drink lots of water throughout the day, starting with a glass at breakfast. Your body dehydrates overnight, so refilling the tank early will help you be more present and energetic throughout the day.
                </p>
                <p>
                    3. Chew your food slowly, enjoy the texture and the taste. You will be more satisfied with less food and more likely to notice other subtleties throughout the day.
                </p>
                <p>
                    4. Write down your top three priorities for the day first thing in the morning. You’ll be a lot less likely to get caught up in mindlessly reacting to whatever hits you.
                </p>
                <p>
                    5. Listen to music that moves or make a conscious choice to listen to things that nourish you rather than deplete your mind and heart.
                </p>
                <p>
                    6. Write a journal to capture your reflections about how you are continuing to engage in mindful activity. Over time, you’ll create a record of your life that will provide valuable perspective.
                </p>
                <p>
                    7. Ask yourself, “What’s working right now?” No matter how bad things seem, there is almost always something that’s going right. Mindfully build on that.
                </p>
                <p>
                    8. Breathe deeply. If you take three deep breaths from your belly before and after every conversation, you will be more present during the conversation and be able to clear your mind after.
                </p>
                <p>
                    9. Slow down! If you take a moment to stop and smell the roses, you'll have more appreciation for all the beauty and abundance that life has to offer.
                </p>
                <p>
                    10. Practice "transformational listening." Listening fully and without an agenda builds the relationships and potentially makes life more fulfilling.
                </p>
                <p>
                    11. Stretch and move often. Get out of your chair regularly for at least five minutes every hour to optimise your health and well-being.
                </p>
                <p>
                    12. Go out for lunch. Take lunch away from your desk/place of work, and eat at least one part of it mindfully. Your body and brain deserve the break!
                </p>
                <p>
                    13. Get outside! No matter what the weather is like, learn to appreciate ‘the now’ by enjoying the beauty of the outdoors, regardless of your scenery.
                </p>
                <p>
                    14. Tell someone how much you appreciate them. Be specific. It may be the first time anyone has ever shared that compliment with them. What a gift!
                </p>
                <p>
                    15. Notice what timeframe your mind is in.  If it is in the past or future, gently bring it back to the present.
                </p>
                <p>
                    16. Question your assumptions. Expand and challenge the way you look at people and situations.
                </p>
                <p>
                    17. Call an old friend. It will warm their heart and yours!
                </p>
                <p>
                    18. Move your body in a mindful way for at least 30 minutes. Think of it as a moving meditation.
                </p>
                <p>
                    19. Put your phone in a drawer for at least a couple of hours when you get home each evening.  You may be surprised and delighted by what you notice.
                </p>
                <p>
                    20. Write a personal note (on paper) to say “Thanks!” or “I love you” (or both!) There is a good chance that person will cherish it forever.
                </p>
                <p>
                    21. Take time each day to reflect on why you are here. Celebrate one thing you did today that served that very purpose.
                </p>
                <p>
                    22. Get a good night’s sleep. Keep your smart phone and tablet out of your bedroom. The light from them messes up your sleep pattern. You need a good night’s rest for a great day tomorrow!
                <p>

                </p>
                What are your favourite easy to do things throughout the day that make a difference in being more mindful?
                <p></p>
                Adapted from Scott Eblin 2014


                </p>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 2 Practice Documents</h2>
                <ul>


                    @*   <li>
                    <a href="/LessonAssets/Week2/Session 2.docx" download>session 2</a>
                    </li>*@
                    @*  <li>
                    <a href="/LessonAssets/Week2/Week 2 Sitting meditation.docx" download>week 2 sitting meditation</a>
                    </li>*@
                    @*  <li>
                    <a href="/LessonAssets/Week2/22 Ways to be mindful all day final.docx" download>22 ways to be mindful all day final</a>
                    </li>*@
                    @* <li>

                    <a href="/LessonAssets/Week2/Week 2  Focusing on the Breath.docx" download>week 2 focusing on the breath</a>
                    </li>*@

                    @* <li>

                    <a href="/LessonAssets/Week2/Week 2 Pleasant Experiences Calendar.docx" download>week 2 pleasant experiences calendar</a>
                    </li>*@
                    @*                    <li>

                    <a href="/LessonAssets/Week2/Body Scan Practice Guidelines.docx" download >body scan practice guidelines</a>
                    </li>
                    *@                   @* <li>

                    <a href="/LessonAssets/Week2/Home Practice Following Week 2.docx" download>home practice following week 2</a>
                    </li>*@
                    @*  <li>

                    <a href="/LessonAssets/Week2/Mindfulness of Breathing Practice Guidelines.docx" download>mindfulness of breathing practice guidelines 2019</a>
                    </li>*@
                    <li>

                        <a href="/LessonAssets/Week2/Pleasant experiences diary.docx" download>pleasant experiences diary</a>
                    </li>

                    <li>

                        <a href="/LessonAssets/Week2/Week 2 General Practice log.docx" download>week 2 general practice log</a>
                    </li>
                    @*  <li>

                    <a href="/LessonAssets/Week2/Week 2 Practice log.docx" download>week 2 practice log</a>


                    </li>
                    *@
                    <li>


                        <a href="/LessonAssets/Week2/9 dots doc.docx" download="">The 9 dots exercise solution</a>

                    </li>




                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>John Kabat-Zinn Body Scan</h2>

                <audio controls="controls" style="max-width:100%; margin-top:1em">
                    <source src="mp3/Body Scan Meditation - Jon Kabat-Zinn.mp3" type="audio/mpeg" />
                </audio>

                <br />
                <br />
            </div>
        </div>
    </div>
</section>
