@page "/mbsr/week1"
@layout SecondaryLayout

<section id="week1-poem" class="mindfulness-bg-daisies content mbs-base-style-font">
    <span role="img" aria-label="daisies in bloom"></span>
    <div class="container poem">
        <div class="row" id="row-poem">
            <div class="col-lg-8 mx-auto">
                <p>
                    <h2>
                        If I Had My Life to Live Over
                    </h2>
                </p>

                <p>
                    If I had my life to live over again, I’d dare to make more mistakes next time. I’d relax.
                </p>

                <p>


                    I would limber up. I would be sillier than I have been this trip. I would take fewer things seriously. I would take more chances.
                </p>

                <p>
                    I would climb more mountains and swim more rivers.
                </p>

                <p>
                    I would eat more ice cream and less beans.
                </p>

                <p>
                    I would, perhaps, have more actual troubles, but fewer imaginary ones.
                </p>

                <p>
                    You see, I’m one of those people who has lived sensibly and sanely, hour after hour, day after day. Oh, I’ve had my moments and if I could to do it over again, I’d have more of them. In fact, I’d try to have nothing else.
                </p>

                <p>
                    Just moments, one after another.
                </p>

                <p>
                    Instead of living so many years ahead of each day. I’ve been one of those people who never goes anywhere  without a thermometer, a hot-water bottle,a raincoat, and a parachute. If I could do it again, I would travel lighter than I have.
                </p>

                <p>
                    If I had to live my life over, I would start bare foot earlier in the spring and stay that way later in the Autumn. I would go to more dances, I would ride more merry-go-rounds, I would pick more daisies.
                </p>

                <p>
                    By Nadine Star
                </p>
            </div>
        </div>
    </div>
</section>

<section id="welcome" class="session-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Welcome to week 1 </h1>
                <br />
                <p>
                    Welcome to the Mindfulness Based Stress Reduction (MBSR) Course.
                    The following  contains information and exercises to support you through the course.  Things often become clearer the more we practise.
                    The practice documents are for you to make personal notes about your experiences and you are invited to do so as part of the course as it allows you to consider your journey.   Be as honest as you can. The notes you make are not to be shared (unless you wish to), they are for you to explore and reflect.
                    You may experience some deeper emotions during your practice, if this happens it is quite natural and nothing to be afraid of.   We can discuss these in class or on a one to one before or after the session.  If you wish to discuss anything that is connected to mindfulness practice between sessions then you can contact me by email or we can arrange a time to talk.
                    I look forward to exploring mindfulness with you and hope that you find this a rewarding and therapeutic experience. It may even become a way of living.
                </p>
                <p>
                    Home practice is an important part of the course
                </p>
                <p>
                    The patterns of the mind that we will be working on to adapt have often been around for a long time. These patterns are often habitual and automatic. We can only expect to succeed in making changes in these long established ways of the mind if we put time and effort into learning new ways.

                    It can be challenging to find the time to devote to home practice, but it is worth it.  A useful attitude to adopt is ‘I’ll give it my best shot, and keep and open mind. At the end of the course I will decide what I have learned and what to take away.’  In order to make a decision about whether this approach could be a useful part of your life you need to engage with it fully during the 8 weeks.

                    A part of each session will be to reflect on your experiences of the home practice during the week. We will also discuss any difficulties that arise for you during the practice.  Much learning of the course can be drawn from these experiences.
                </p>
                <p>
                    Facing difficulties
                </p>
                <p>
                    A central aim of the approach is to learn how to be more fully aware and present in each moment. The good news is that this makes life more enjoyable, interesting, vivid and fulfilling.  However, it also means facing what is present, even when it is unpleasant and difficult.  During the practice you will find that turning to face and acknowledge difficulties is, in the long run, the most effective way of reducing unhappiness.  In this course you will learn gentle ways to face difficulties and will be supported whilst doing so.
                </p>
                <p>
                    Patience and persistence
                </p>
                <p>
                    Working to adapt established patterns of the mind means investing considerable time and effort, the effects of which may only become apparent later.  In many ways, it is much like gardening; we have to prepare the ground, plant the seeds and ensure the seeds have the nourishment to grow, and wait patiently for the results.   The invitation is therefore to approaching the course with gentle patience and persistence.

                </p>
                <p>

                    Warmest wishes,
                    <br />
                    Jean
                    <br />

                    <div class="row">
                        <div class="col-6 col-md-2">
                            <a href="mailto:mybreathingspace.net@outlook.com">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                </svg>
                            </a>
                        </div>

                        <div class="col-6 col-md-2">
                            <a href="tel:07833723822">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                </svg>

                            </a>
                        </div>
                    </div>




                </p>

            </div>
        </div>
    </div>
</section>

<section id="schedule" class="session-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Introduction to Mindfulness</h2>
                <p>

                    The aim of the course is to increase awareness so that we can learn how to live more fully, responding to situations with choice rather than reacting automatically.
                </p>
                <p>
                    We do this by learning to pay attention to all our experiences, including our bodily sensations, thoughts, moods and emotions, and to the small changes within them.
                </p>
                <p>

                    To focus on our experiences and the way they change, we have to become more aware of them.
                </p>
                <p>

                    The raisin exercise helps us notice what our sensations are when we fully experience something very ordinary.
                </p>
                <p>

                    The body scan helps us learn to place our attention in different parts of the body, which anchors our awareness in the present moment, and gives us more control over our attention.


                </p>
                <h2>Documents</h2>
                <ul>
                    <li>
                        <a href="/LessonAssets/Week1/Session 1 Definition of mindfulness.docx" download>Definition of mindfulness</a>
                    </li>
                    <li>
                        <a href="/LessonAssets/Week1/Session 1.docx" download>Session 1 Overview</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Week 1 Practice Documents</h2>
                <ul>
                    <li>
                        <a href="/LessonAssets/Week1/Week 1 practice log.docx" download>Practice Log</a>
                    </li>
                    <li>
                        <a href="/LessonAssets/Week1/Week1practicebodyscan.docx" download>Practice Body Scan</a>
                    </li>
                    <li>
                        <a href="/LessonAssets/Week1/The Nine Dots Exercise.docx" download>The Nine Dots Exercise</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="bodyscan" class="session-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>John Kabat-Zinn Body Scan</h2>

                <audio controls="controls" class="audio-player">
                    <source src="mp3/Body Scan Meditation - Jon Kabat-Zinn.mp3" type="audio/mpeg" />
                </audio>

                <br />
                <br />
            </div>

        </div>
    </div>
</section>

@code {

}
