@inherits LayoutComponentBase

<!-- ======= Header ======= -->
<header id="header" class="fixed-top" >
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
                <h1 class="logo me-auto me-lg-0"><a href="../">MyBreathingspace.net</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            

                <nav id="navbar" class="navbar order-last order-lg-0 @NavMenuCssClass">
                    <i id="show-menu" class="bi bi-list mobile-nav-toggle" @onclick="ToggleNavMenu" style="color:white">                        
                    </i>
                    <ul @onclick="CloseNavMenu">
                        <li  id="close-menu"><a class="nav-link scrollto @CloseMenuCssClass" href="#hero" style="float:right">X</a></li>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link" onclick="document.getElementById('whatismindfulness').scrollIntoView({behavior:'smooth'})">What is mindfulness?</a></li>
                        <li><a class="nav-link scrollto" href="/mbsr">The MBSR</a></li>
                        <li><a class="nav-link" onclick="document.getElementById('aboutjean').scrollIntoView({behavior:'smooth'})">About Jean</a></li>
                       @*  <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Course</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="course/week1.html">Week 1</a></li>
                                <li><a href="course/week2.html">Week 2</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="course/week1.html">Week1</a></li> *@
                    </ul>                                      
                </nav><!-- .navbar -->
                <!-- <a href="#whatismindfulness" class="get-started-btn scrollto">Get Started</a> -->
            </div>
        </div>

    </div>
</header><!-- End Header -->



 @Body

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>mybreathingspace.net</h3>
        <p>Become gently aware of this, the present moment...</p>
        <div class="social-links">
            @* <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>*@
            @* <a href="https://www.youtube.com/channel/UCrf3ituIgubPh6VjMYGSzUQ" target="_blank" class="facebook"></a>*@
            <a href="https://www.youtube.com/channel/UCrf3ituIgubPh6VjMYGSzUQ" target="_blank" class=""><i class="bi bi-facebook"></i></a>
            @* <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>*@
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>mybreathingspace.net</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? null : "navbar-mobile";

    private string @CloseMenuCssClass => collapseNavMenu ? "d-none" : "d-flex";

    private int counter;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavMenu()
    {
        if (collapseNavMenu == false)
            collapseNavMenu = true;
    }

   
    private void OnScroll()
    {
        counter++;
    }
  
}